<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tuacy.xml">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".drawable.shape.LineShapeActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".drawable.shape.OvalShapeActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".drawable.shape.RectangleShapeActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".drawable.shape.RingShapeActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".drawable.selector.SelectorActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".drawable.layerlist.LayerListActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".drawable.bitmap.BitmapActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".drawable.ninepath.NinePathActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".drawable.levellist.LevelListActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".drawable.transition.TransitionActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".drawable.insert.InsertActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".drawable.clip.ClipActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".drawable.scale.ScaleActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".drawable.rotate.RotateActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".drawable.animatedrotate.AnimatedRotateActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".drawable.animationlist.AnimationListActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".animation.propertyanimation.XmlPropertyAnimationActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".animation.viewanimation.XmlViewAnimationActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".animation.propertyanimation.CodePropertyAnimationActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".animation.viewanimation.CodeViewAnimationActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.tuacy.xml.animation.interpolator.InterpolatorActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.tuacy.xml.animation.layouttransition.CodeLayoutTransitionActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.tuacy.xml.canvas.CanvasActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.tuacy.xml.canvas.CanvasActionActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.tuacy.xml.canvas.CanvasDemoActivity"
            android:screenOrientation="portrait" />


    </application>

</manifest>
